footer{
    position:fixed;
    bottom: 0;
    width:100%;
    height: 35px;
    background-color: #100C23;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer__btntodo{
    width:40%;
    height:40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
#todo-form > input{
    width:30vw;
    height:29px;
    border:none;
}
.footer__temp-clock{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-right:10px;
}
