.hidemenu{
    display:none;
    transition: ease-in-out 0.5s;
}
.hiddenstartmenu{
    border:1px solid black;
    width:35vw;
    height:100vh;
    background-color: #100C23;
    transition: ease-in-out 0.5s;
}
