.hidemenu{
    display:none;
    position:relative;
}
.hiddenstartmenu{
    border:1px solid black;
    width:35vw;
    height:auto;
    background-color: #100C23;
    position:absolute;
    bottom:35px;
}
