#todo-list{
    display:flex;
    flex-direction: column;
}
#todo-list > li{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:2px;
}
#todo-list li > span{
    display:inline-block;
    width:70vw;
    margin-left:10px;
}
#todo-list li > button{
    width:10vw;
    margin-right:10px;
    background-color:#100C23;
    border:none;
}
#todo-list li > button:hover{
    border:0.5px solid white;
}
