
/*reset*/
@import "./reset.css";
/*component*/
@import "./component/footer.css";
@import "./component/center.css";
@import "./component/startmenu.css";
@import "./component/todo.css";

.hidden{
    display:none;
}
body{
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
}